* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f3f3f3;
}

.container {
    width: 72.5%;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 92.5%;
    }
    @media (max-width: 1280px) {
        width: 82.5%;
    }
    p {
        color: #fff;
        position: relative;
        font-weight: 600;
        font-size: 22px;
        @media (max-width: 768px) {
            margin-bottom: -20px !important; 
            margin-top: 30px !important;
            color: rgb(27, 25, 25);
        }
    }
}

a {
    text-decoration: none;
}